<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Festina</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/watchstyles.css')}}">
</head>

<body>
<nav class="nav-bar">
	<div id="logo"><a href="index.html"><img src="../images/logo.png" alt="logo" height="75px" width="auto"></a></div>
	<div id="levo">
		<ul>
			<a href="index.html"><li class="li">Početna</li></a>
			<a href="onama.html"><li class="li">O Nama</li></a>
			<a href="brendovi.html" class="sidro"><li class="li">Brendovi
				<div class="padajucalista">
					<div class="unutra">
						<a href="seiko.html"><p>Seiko</p></a>
						<a href="tissot.html"><p>Tissot</p></a>
						<a href="festina.html"><p>Festina</p></a>
					</div>
					<div class="unutra">
						<a href="casio.html"><p>Casio</p></a>
						<a href="rolex.html"><p>Rolex</p></a>
						<a href="diesel.html"><p>Diesel</p></a>
					</div>
					<div class="unutra">
						<a href="citizen.html"><p>Citizen</p></a>
						<a href="swatch.html"><p>Swatch</p></a>
						<a href="fossil.html"><p>Fossil</p></a>
					</div>
					<div class="unutra">
						<a href="klein.html"><p>Calvin Klein</p></a>
						<a href="zenith.html"><p>Zenith</p></a>
						<a href="roamer.html"><p>Roamer</p></a>
					</div>
				</div>
			</li></a>
			<a href="kontakt.html"><li class="li">Kontakt</li></a>
		</ul>
	</div>
	<div id="desno">
		<a href=""><img src="../images/kolica.png" alt="shopping_cart" height="50px" width="auto"></a>
		<a href=""><img src="../images/account.png" alt="account" height="50px" width="auto"></a>
		<a href=""><img src="../images/logout.png" alt="logout" height="50px" width="auto"></a>
	</div>
</nav>
<div class="sve">
	<div class="levo">
		<ul>
			<li><a href="seiko.html">Seiko</a></li>
			<li><a href="tissot.html">Tissot</a></li>
			<li><a href="festina.html">Festina</a></li>
			<li><a href="casio.html">Casio</a></li>
			<li><a href="rolex.html">Rolex</a></li>
			<li><a href="diesel.html">Diesel</a></li>
			<li><a href="citizen.html">Citizen</a></li>
			<li><a href="swatch.html">Swatch</a></li>
			<li><a href="fossil.html">Fossil</a></li>
			<li><a href="klein.html">Calvin Klein</a></li>
			<li><a href="zenith.html">Zenith</a></li>
			<li><a href="roamer.html">Roamer</a></li>
		</ul>
	</div>
	<div class="desno">
		<div class="zaglavlje">
			<img src="../images/festina.jpg" alt="festina">
			<h1>Festina satovi</h1>
		</div>
		<div class="tekst">
			<p>Najrenomiraniji, najpoznatiji i najstariji brand iz Festina grupe osnovan je davne 1902 godine. Festina je namenjena ljudima sportskog duha i dinamične prirode. Festina je takođe sponzorisala Biciklistički tim festina od 1989 do 2001.</p>
		</div>
	</div>
</div> 
<table class="satovi">
	<tr>
		<td><img src="../images/festina1.png" alt="festina1"></td>
		<td><img src="../images/festina2.png" alt="festina2"></td>
		<td><img src="../images/festina3.png" alt="festina3"></td>
	</tr>
	<tr>
		<td>FESTINA F16573/3<br>Materijal - Čelik<br>Narukvica - Koža<br>Funkcije - Datumar, hronograf<br>Mehanizam - Analogni<br>Staklo - Mineralno<br>Cena - 12190 RSD</td>
		<td>FESTINA CHRONO BIKE F20523/7<br>Materijal - Čelik<br>Narukvica - Guma<br>Funkcije - Hronograf<br>Mehanizam	- Analogni<br>Staklo - Mineralno<br>Cena - 22590 RSD</td>
		<td>FESTINA SPORT F16495/1<br>Materijal - Čelik<br>Narukvica - Čelik<br>Mehanizam - Analogni<br>Staklo - Mineralno<br>Cena - 12190 RSD</td>
	</tr>
	<tr class="tekstsatovi">
		<td><img src="../images/festina4.png" class="slika" alt="festina4"></td>
		<td><img src="../images/festina5.png" class="slika" alt="festina5"></td>
		<td><img src="../images/festina6.png" class="slika" alt="festina6"></td>
	</tr>
	<tr>
		<td>FESTINA SWISS MADE F20010/2<br>Materijal - Čelik<br>Narukvica - Koža<br>Mehanizam - Analogni<br>Staklo - Safirno<br>Cena - 15890 RSD</td>
		<td>FESTINA CHRONO BIKE F20527/1<br>Materijal - Čelik<br>Narukvica - Čelik<br>Funkcije - Hronograf<br>Mehanizam - Analogni<br>Staklo - Safirno<br>Cena - 55990 RSD</td>
		<td>FESTINA PRESTIGE F20364/3<br>Materijal - Čelik<br>Narukvica - Čelik<br>Funkcije	- Hronograf, datumar<br>Mehanizam - Hronograf<br>Staklo - Mineralno<br>Cena - 30490 RSD</td>
	</tr>
</table>
<div class="skorokraj">
	<hr>
	<div class="svestrane">
		<p><a href="index.html">Početna</a> | <a href="brendovi.html">Brendovi</a> | <a href="seiko.html">Seiko</a> | <a href="tissot.html">Tissot</a> | <a href="festina.html">Festina</a> | <a href="casio.html">Casio</a> | <a href="rolex.html">Rolex</a> | <a href="diesel.html">Diesel</a> | <a href="citizen.html">Citizen</a> | <a href="swatch.html">Swatch</a> | <a href="fossil.html">Fossil</a></p> | <a href="klein.html">Calvin Klein</a> | <a href="zenith.html">Zenith</a> | <a href="roamer.html">Roamer</a> | <a href="onama.html">O Nama</a> | <a href="kontakt.html">Kontakt</a></p>
	</div>
	<p class="copyright">Copyright &#169 2021 SKWatch. Sva prava zadržana.</p>
</div>
<footer>
	<a href="#">
		<div class="footer">
			<img src="../images/strelica.png" alt="strelica">
		</div>
	</a>
</footer>
</body>
</html>
