<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Roamer</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/watchstyles.css')}}">
</head>
<body>
<nav class="nav-bar">
	<div id="logo"><a href="index.html"><img src="../images/logo.png" alt="logo" height="75px" width="auto"></a></div>
	<div id="levo">
		<ul>
			<a href="index.html"><li class="li">Početna</li></a>
			<a href="onama.html"><li class="li">O Nama</li></a>
			<a href="brendovi.html" class="sidro"><li class="li">Brendovi
				<div class="padajucalista">
					<div class="unutra">
						<a href="seiko.html"><p>Seiko</p></a>
						<a href="tissot.html"><p>Tissot</p></a>
						<a href="festina.html"><p>Festina</p></a>
					</div>
					<div class="unutra">
						<a href="casio.html"><p>Casio</p></a>
						<a href="rolex.html"><p>Rolex</p></a>
						<a href="diesel.html"><p>Diesel</p></a>
					</div>
					<div class="unutra">
						<a href="citizen.html"><p>Citizen</p></a>
						<a href="swatch.html"><p>Swatch</p></a>
						<a href="fossil.html"><p>Fossil</p></a>
					</div>
					<div class="unutra">
						<a href="klein.html"><p>Calvin Klein</p></a>
						<a href="zenith.html"><p>Zenith</p></a>
						<a href="roamer.html"><p>Roamer</p></a>
					</div>
				</div>
			</li></a>
			<a href="kontakt.html"><li class="li">Kontakt</li></a>
		</ul>
	</div>
	<div id="desno">
		<a href=""><img src="../images/kolica.png" alt="shopping_cart" height="50px" width="auto"></a>
		<a href=""><img src="../images/account.png" alt="account" height="50px" width="auto"></a>
		<a href=""><img src="../images/logout.png" alt="logout" height="50px" width="auto"></a>
	</div>
</nav>
<div class="sve">
	<div class="levo">
		<ul>
			<li><a href="seiko.html">Seiko</a></li>
			<li><a href="tissot.html">Tissot</a></li>
			<li><a href="festina.html">Festina</a></li>
			<li><a href="casio.html">Casio</a></li>
			<li><a href="rolex.html">Rolex</a></li>
			<li><a href="diesel.html">Diesel</a></li>
			<li><a href="citizen.html">Citizen</a></li>
			<li><a href="swatch.html">Swatch</a></li>
			<li><a href="fossil.html">Fossil</a></li>
			<li><a href="klein.html">Calvin Klein</a></li>
			<li><a href="zenith.html">Zenith</a></li>
			<li><a href="roamer.html">Roamer</a></li>
		</ul>
	</div>
	<div class="desno">
		<div class="zaglavlje">
			<img src="../images/roamer.jpg" alt="roamer">
			<h1>Roamer satovi</h1>
		</div>
		<div class="tekst">
			<p>Roamer tradicionalna švajcarska časovničarska kuća koja je za preko 120 godina postojanja razvila jedinstvene, izvanredne satove koji su kombinacija švajcarske funkcionalnosti i elegancije. Svaki detalj Roamer sata pažljivo je izrađen i sa pravom nosi oznaku kvaliteta Swiss Made. U Roamer-u kažu da je oznaka Swiss Made u stvari čvrsto obećanje kvaliteta koje se nikada ne sme izneveriti. Birajući Roamer birate delić švajcarske tradicije i kvaliteta i postajete član elitnog kluba vlasnika Roamer-a.</p>
		</div>
	</div>
</div> 
<table class="satovi">
	<tr>
		<td><img src="../images/roamer1.png" alt="roamer1"></td>
		<td><img src="../images/roamer2.png" alt="roamer2"></td>
		<td><img src="../images/roamer3.png" alt="roamer3"></td>
	</tr>
	<tr>
		<td>ROAMER COMPETENCE SKELETON III<br>Materijal - Čelik<br>Narukvica - Čelik<br>Mehanizam - Automatik<br>Staklo - Safirno<br>Cena - 52794 RSD</td>
		<td>ROAMER MERCURY II<br>Materijal - Čelik<br>Narukvica - Koža<br>Funkcije - Datumar, dani u nedelji<br>Mehanizam - Automatik<br>Staklo - Safirno antirefleks<br>Cena - 60893 RSD</td>
		<td>ROAMER SEAROCK<br>Materijal - Čelik<br>Narukvica - Čelik<br>Mehanizam - Kvarcni<br>Staklo - Mineralno<br>Cena - 50994 RSD</td>
	</tr>
	<tr class="tekstsatovi">
		<td><img src="../images/roamer4.png" class="slika" alt="roamer4"></td>
		<td><img src="../images/roamer5.png" class="slika" alt="roamer5"></td>
		<td><img src="../images/roamer6.png" class="slika" alt="roamer6"></td>
	</tr>
	<tr>
		<td>ROAMER SATURN II<br>Materijal - Čelik<br>Narukvica - Koža<br>Funkcije - Datumar, dani u nedelji<br>Mehanizam - Kvarcni<br>Staklo - Safirno<br>Cena - 50394 RSD</td>
		<td>ROAMER SUPERIOR<br>Materijal - Čelik<br>Narukvica - Koža<br>Funkcije - Datumar, hronograf<br>Mehanizam - Kvarcni<br>Staklo - Safirno<br>Cena - 32994 RSD</td>
		<td>ROAMER ROTODATE II<br>Materijal - Čelik<br>Narukvica - Čelik<br>Funkcije - Datumar, Datumar<br>Mehanizam - Automatik<br>Staklo - Safirno antirefleks<br>Cena - 46741 RSD</td>
	</tr>
</table>
<div class="skorokraj">
	<hr>
	<div class="svestrane">
		<p><a href="index.html">Početna</a> | <a href="brendovi.html">Brendovi</a> | <a href="seiko.html">Seiko</a> | <a href="tissot.html">Tissot</a> | <a href="festina.html">Festina</a> | <a href="casio.html">Casio</a> | <a href="rolex.html">Rolex</a> | <a href="diesel.html">Diesel</a> | <a href="citizen.html">Citizen</a> | <a href="swatch.html">Swatch</a> | <a href="fossil.html">Fossil</a></p> | <a href="klein.html">Calvin Klein</a> | <a href="zenith.html">Zenith</a> | <a href="roamer.html">Roamer</a> | <a href="onama.html">O Nama</a> | <a href="kontakt.html">Kontakt</a></p>
	</div>
	<p class="copyright">Copyright &#169 2021 SKWatch. Sva prava zadržana.</p>
</div>
<footer>
	<a href="#">
		<div class="footer">
			<img src="../images/strelica.png" alt="strelica">
		</div>
	</a>
</footer>
</body>
</html>

