{% extends "watches_layout.html" %}

{% block title %}
	<title>Rolex</title>
{% endblock %}

{% block table %}
	<table class="satovi">
		<tr>
			{% for rolexes in rolex %}
				<td><img src="data:images/png;base64,{{ binary_data }}" alt="" >{{ rolexes[10] }}</td>
			{% endfor %}
		</tr>
		<tr>
			{% for rolexes in rolex %}
				<td>Brand: {{ rolexes[1] }}</td>
			{% endfor %}
		</tr>
		<tr>
			{% for rolexes in rolex %}
				<td>Model: {{ rolexes[2] }}</td>
			{% endfor %}
		</tr>
		<tr>
			{% for rolexes in rolex %}
				<td>Mechanism: {{ rolexes[3] }}</td>
			{% endfor %}
		</tr>
		<tr>
			{% for rolexes in rolex %}
				<td>Case Material: {{ rolexes[4] }}</td>
			{% endfor %}
		</tr>
		<tr>
			{% for rolexes in rolex %}
				<td>Strap Material: {{ rolexes[5] }}</td>
			{% endfor %}
		</tr>
		<tr>
			{% for rolexes in rolex %}
				<td>Functions: {{ rolexes[6] }}</td>
			{% endfor %}
		</tr>
		<tr>
			{% for rolexes in rolex %}
				<td>Glass Material: {{ rolexes[7] }}</td>
			{% endfor %}
		</tr>
		<tr>
			{% for rolexes in rolex %}
				<td>Price: {{ rolexes[8] }}</td>
			{% endfor %}
		</tr>
		<tr >
			{% for rolexes in rolex %}
				<td>Stock: {{ rolexes[9] }}</td>
			{% endfor %}
		</tr>
		<tr>
			{% for rolexes in rolex %}
				<td><button type="button">Buy</button></td>
			{% endfor %}
		</tr>
	</table>
{% endblock %}