<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Tissot</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/watchstyles.css')}}">
</head>
<body>
<nav class="nav-bar">
	<div id="logo"><a href="index.html"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" height="75px" width="auto"></a></div>
	<div id="levo">
		<ul>
			<a href="index.html"><li class="li">Početna</li></a>
			<a href="onama.html"><li class="li">O Nama</li></a>
			<a href="brendovi.html" class="sidro"><li class="li">Brendovi
				<div class="padajucalista">
					<div class="unutra">
						<a href="seiko.html"><p>Seiko</p></a>
						<a href="tissot.html"><p>Tissot</p></a>
						<a href="festina.html"><p>Festina</p></a>
					</div>
					<div class="unutra">
						<a href="casio.html"><p>Casio</p></a>
						<a href="rolex.html"><p>Rolex</p></a>
						<a href="diesel.html"><p>Diesel</p></a>
					</div>
					<div class="unutra">
						<a href="citizen.html"><p>Citizen</p></a>
						<a href="swatch.html"><p>Swatch</p></a>
						<a href="fossil.html"><p>Fossil</p></a>
					</div>
					<div class="unutra">
						<a href="klein.html"><p>Calvin Klein</p></a>
						<a href="zenith.html"><p>Zenith</p></a>
						<a href="roamer.html"><p>Roamer</p></a>
					</div>
				</div>
			</li></a>
			<a href="kontakt.html"><li class="li">Kontakt</li></a>
		</ul>
	</div>
	<div id="desno">
		<a href="shopping_cart.html"><img src="{{ url_for('static', filename='images/kolica.png') }}" alt="shopping_cart" height="50px" width="auto"></a>
		<a href="account.html"><img src="{{ url_for('static', filename='images/account.png') }}" alt="account" height="50px" width="auto"></a>
		<a href="logout"><img src="{{ url_for('static', filename='images/logout.png') }}" alt="logout" height="50px" width="auto"></a>
	</div>
</nav>
<div class="sve">
	<div class="levo">
		<ul>
			<li><a href="seiko.html">Seiko</a></li>
			<li><a href="tissot.html">Tissot</a></li>
			<li><a href="festina.html">Festina</a></li>
			<li><a href="casio.html">Casio</a></li>
			<li><a href="rolex.html">Rolex</a></li>
			<li><a href="diesel.html">Diesel</a></li>
			<li><a href="citizen.html">Citizen</a></li>
			<li><a href="swatch.html">Swatch</a></li>
			<li><a href="fossil.html">Fossil</a></li>
			<li><a href="klein.html">Calvin Klein</a></li>
			<li><a href="zenith.html">Zenith</a></li>
			<li><a href="roamer.html">Roamer</a></li>
		</ul>
	</div>
	<div class="desno">
		<div class="zaglavlje">
			<img src="../images/tissot.jpg" alt="tissot">
			<h1>TISSOT satovi</h1>
		</div>
		<div class="tekst">
			<p>Za brend Tissot, slogan „U dodiru sa vašim vremenom“ predstavlja mnogo više od teksta koji se koristi za reklamnu kampanju. Ova fraza najbolje oslikava identitet brenda, dokazanu posvećenost i želju da se uvek bude u skladu sa tehnološkim dostignućima i stilom, u svakom vremenu. Tissot je rastao i razvijao se kroz tradiciju i inovativnosti od 1853. Od svojih ranih dana, do sada – u švajcarskom planinskom seocetu Le Locle. Svoje časovničarsko umeće i preciznost, Tissot je „preveo“ kroz prodaju u preko 160 zemalja širom sveta.</p>
		</div>
	</div>
</div> 
<table class="satovi">
	<tr>
		<td><img src="../images/tissot1.png" alt="tissot1"></td>
		<td><img src="../images/tissot2.png" alt="tissot2"></td>
		<td><img src="../images/tissot3.png" alt="tissot3"></td>
	</tr>
	<tr>
		<td>TISSOT T-TOUCH EXPERT SOLAR T0914204705101<br>Materijal - Titanijum<br>Narukvica - Silikon<br>Funkcije - Alarm, altimetar, barometar, dual time, hronograf, kompas, osvetljenje brojcanika, split hronograf, tajmer<br>Mehanizam - Kvarcni<br>Staklo - Safirno antirefleks<br>Cena - 98520 RSD</td>
		<td>TISSOT T-COMPLICATION SQUELETTE T0704051641100<br>Materijal	- Čelik<br>Narukvica - Koža<br>Mehanizam - Mehanički<br>Staklo - Safirno<br>Cena - 145168 RSD</td>
		<td>TISSOT COUTURIER T0354391105100<br>Materijal - Čelik<br>Narukvica - Čelik<br>Funkcije - 2 vremenske zone, datumar, hronograf, tahimetar<br>Mehanizam - Kvarcni<br>Staklo - Safirno<br>Cena - 66944 RSD</td>
	</tr>
	<tr class="tekstsatovi">
		<td><img src="../images/tissot4.png" class="slika" alt="tissot4"></td>
		<td><img src="../images/tissot5.png" class="slika" alt="tissot5"></td>
		<td><img src="../images/tissot6.png" class="slika" alt="tissot6"></td>
	</tr>
	<tr>
		<td>TISSOT SEASTAR 1000 T1204171109100<br>Materijal - Čelik<br>Narukvica - Čelik<br>Funkcije - Datumar, hronograf<br>Mehanizam - Kvarcni<br>Staklo - Safirno antirefleks<br>Cena - 64212 RSD</td>
		<td>TISSOT CARSON T1224102203300<br>Materijal - Čelik<br>Narukvica - Čelik<br>Funkcije - Datumar<br>Mehanizam - Kvarcni<br>Staklo - Safirno<br>Cena - 49184 RSD</td>
		<td>TISSOT EVERYTIME T1094073603100<br>Materijal - Čelik<br>Narukvica - Koža<br>Funkcije - Datumar<br>Mehanizam - Automatik<br>Staklo - Safirno<br>Cena - 59806 RSD</td>
	</tr>
</table>
<div class="skorokraj">
	<hr>
	<div class="svestrane">
		<p><a href="index.html">Početna</a> | <a href="brendovi.html">Brendovi</a> | <a href="seiko.html">Seiko</a> | <a href="tissot.html">Tissot</a> | <a href="festina.html">Festina</a> | <a href="casio.html">Casio</a> | <a href="rolex.html">Rolex</a> | <a href="diesel.html">Diesel</a> | <a href="citizen.html">Citizen</a> | <a href="swatch.html">Swatch</a> | <a href="fossil.html">Fossil</a></p> | <a href="klein.html">Calvin Klein</a> | <a href="zenith.html">Zenith</a> | <a href="roamer.html">Roamer</a> | <a href="onama.html">O Nama</a> | <a href="kontakt.html">Kontakt</a></p>
	</div>
	<p class="copyright">Copyright &#169 2021 SKWatch. Sva prava zadržana.</p>
</div>
<footer>
	<a href="#">
		<div class="footer">
			<img src="../images/strelica.png" alt="strelica">
		</div>
	</a>
</footer>
</body>
</html>
