<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Zenith</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/watchstyles.css')}}">
</head>
<body>
<nav class="nav-bar">
	<div id="logo"><a href="index.html"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" height="75px" width="auto"></a></div>
	<div id="levo">
		<ul>
			<a href="index.html"><li class="li">Početna</li></a>
			<a href="onama.html"><li class="li">O Nama</li></a>
			<a href="brendovi.html" class="sidro"><li class="li">Brendovi
				<div class="padajucalista">
					<div class="unutra">
						<a href="seiko.html"><p>Seiko</p></a>
						<a href="tissot.html"><p>Tissot</p></a>
						<a href="festina.html"><p>Festina</p></a>
					</div>
					<div class="unutra">
						<a href="casio.html"><p>Casio</p></a>
						<a href="rolex.html"><p>Rolex</p></a>
						<a href="diesel.html"><p>Diesel</p></a>
					</div>
					<div class="unutra">
						<a href="citizen.html"><p>Citizen</p></a>
						<a href="swatch.html"><p>Swatch</p></a>
						<a href="fossil.html"><p>Fossil</p></a>
					</div>
					<div class="unutra">
						<a href="klein.html"><p>Calvin Klein</p></a>
						<a href="zenith.html"><p>Zenith</p></a>
						<a href="roamer.html"><p>Roamer</p></a>
					</div>
				</div>
			</li></a>
			<a href="kontakt.html"><li class="li">Kontakt</li></a>
		</ul>
	</div>
	<div id="desno">
		<a href="shopping_cart.html"><img src="{{ url_for('static', filename='images/kolica.png') }}" alt="shopping_cart" height="50px" width="auto"></a>
		<a href="account.html"><img src="{{ url_for('static', filename='images/account.png') }}" alt="account" height="50px" width="auto"></a>
		<a href="logout"><img src="{{ url_for('static', filename='images/logout.png') }}" alt="logout" height="50px" width="auto"></a>
	</div>
</nav>
<div class="sve">
	<div class="levo">
		<ul>
			<li><a href="seiko.html">Seiko</a></li>
			<li><a href="tissot.html">Tissot</a></li>
			<li><a href="festina.html">Festina</a></li>
			<li><a href="casio.html">Casio</a></li>
			<li><a href="rolex.html">Rolex</a></li>
			<li><a href="diesel.html">Diesel</a></li>
			<li><a href="citizen.html">Citizen</a></li>
			<li><a href="swatch.html">Swatch</a></li>
			<li><a href="fossil.html">Fossil</a></li>
			<li><a href="klein.html">Calvin Klein</a></li>
			<li><a href="zenith.html">Zenith</a></li>
			<li><a href="roamer.html">Roamer</a></li>
		</ul>
	</div>
	<div class="desno">
		<div class="zaglavlje">
			<img src="../images/zenith.jpg" alt="zenith">
			<h1>Zenith satovi</h1>
		</div>
		<div class="tekst">
			<p>Zenith postoji da bi nadahnuo pojedince da krenu za svojim snovima i da ih pretvore u stvarnost – uprkos svemu. Od svog osnivanja 1865. godine, Zenith je bio prvi proizvođač satova u modernom smislu te reči, a njegovi satovi su pratili izuzetne figure koje su imale velike snove i koje su težile postizanju nemogućeg – od istorijskog leta Louis-a Blériot-a preko Engleskog kanala, do Felix-a Baumgartner-a koji je postavio rekord slobodnim skokom iz stratosfere.</p>
		</div>
	</div>
</div> 
<table class="satovi">
	<tr>
		<td><img src="../images/zenith1.png" alt="zenith1"></td>
		<td><img src="../images/zenith2.png" alt="zenith2"></td>
		<td><img src="../images/zenith3.png" alt="zenith3"></td>
	</tr>
	<tr>
		<td>ZENITH CHRONOMASTER REVIVAL EL PRIMERO A384<br>Materijal - Čelik<br>Narukvica - Koža<br>Funkcije - Datumar, hronograf, tahimetar<br>Mehanizam - Automatik<br>Cena - 703570 RSD</td>
		<td>ZENITH PILOT TYPE 20 CHRONOGRAPH TON-UP<br>Materijal - Čelik<br>Narukvica - Koža<br>Funkcije - Hronograf, tahimetar<br>Mehanizam - Automatik<br>Cena - 888029 RSD</td>
		<td>ZENITH DEFY CLASSIC<br>Materijal - Titanujum<br>Narukvica - Titanujum<br>Mehanizam - Automatik<br>Cena - 501579 RSD</td>
	</tr>
	<tr class="tekstsatovi">
		<td><img src="../images/zenith4.png" class="slika" alt="zenith4"></td>
		<td><img src="../images/zenith5.png" class="slika" alt="zenith5"></td>
		<td><img src="../images/zenith6.png" class="slika" alt="zenith6"></td>
	</tr>
	<tr>
		<td>ZENITH ELITE LADY MOONPHASE<br>Materijal - Čelik<br>Narukvica - Koža<br>Mehanizam - Automatik<br>Cena - 1267685 RSD</td>
		<td>ZENITH ELITE MOONPHASE<br>Materijal - Zlato<br>Narukvica - Koža<br>Mehanizam - Automatik<br>Cena - 1199894 RSD</td>
		<td>ZENITH EL PRIMERO CHRONOMASTER 2<br>Materijal - Titanijum, keramika<br>Narukvica - Koža<br>Mehanizam - Automatik<br>Cena - 755381 RSD</td>
	</tr>
</table>
<div class="skorokraj">
	<hr>
	<div class="svestrane">
		<p><a href="index.html">Početna</a> | <a href="brendovi.html">Brendovi</a> | <a href="seiko.html">Seiko</a> | <a href="tissot.html">Tissot</a> | <a href="festina.html">Festina</a> | <a href="casio.html">Casio</a> | <a href="rolex.html">Rolex</a> | <a href="diesel.html">Diesel</a> | <a href="citizen.html">Citizen</a> | <a href="swatch.html">Swatch</a> | <a href="fossil.html">Fossil</a></p> | <a href="klein.html">Calvin Klein</a> | <a href="zenith.html">Zenith</a> | <a href="roamer.html">Roamer</a> | <a href="onama.html">O Nama</a> | <a href="kontakt.html">Kontakt</a></p>
	</div>
	<p class="copyright">Copyright &#169 2021 SKWatch. Sva prava zadržana.</p>
</div>
<footer>
	<a href="#">
		<div class="footer">
			<img src="../images/strelica.png" alt="strelica">
		</div>
	</a>
</footer>
</body>
</html>

